<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./css/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title><%= title%></title>
    <script>
var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content");
      const goelection= (id) => {
        //here we are taking checked attribute from election.ejs
        console.log("the id is>>>>>>>>>>>>>>>>>>",id);
        fetch(`/elections/${id}`, {
          method: "get",
          headers: { "content-Type": "application/json" },
          body: JSON.stringify({
            //for it we are needed to pass the completion status
            _csrf: token,
          }),
        }).then((res) => {
            if (res.ok) {
              window.location("election-create");
            }
          })
          .catch((err) => console.error(err));
      };


    </script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs")%>
        <h1 class="font-bold mb-5">Welcome <%= name %></h1>
        <a
          href="/signout"
          class="bg-red-600 text-white px-2 py-5 rounded font-mediium py-1.5"
          >Sign out</a
        >
        <h1 class="text-xl mt-5 bg-blue-100 rounded">
          <a href="/elections" class="ml-2">create a new election</a>
        </h1>
        <div class="mt-10">
          <%-include("election.ejs",{title:"My Elections",data:allElections})%>
        </div>
      </div>
    </div>
  </body>
</html>
